// Define variables for your color scheme

// For example:
$red: #C84A33;
$blue: #3943B7;
$yellow: #F8F4A6;
$orange: #E67E22;
$green: #BDF7B7;
$gray: #0E0000;
$light-gray: #F4F4F4;
$teal: #1F8D9F;
$white: #FFFFFF;
