<div class="container px-5">
  <div class="container px-5">
    <div class="d-flex justify-content-between py-5">
      <h3>Your experiences</h3>
      <button class="btn btn-primary">Create a new idea</button>
    </div>
    <%= render @experiences %>
  </div>
</div>
