<div class="card flex-row overflow-hidden">
  <div class="card-body px-5 py-3 w-40p my-auto">
    <i class="fas fa-couch fa-2x text-primary mb-2"></i>
    <h6 class="card-title">You have no experiences booked... yet!</h6>
    <p class="card-text"><small>Time to step out of your comfort zone and to start feeling alive again</small></p>
    <%= link_to 'Start searching', experiences_path, class: 'btn btn-primary' %>
  </div>
  <%= image_tag 'tightrope.jpg', class: 'card-img-left w-60p h-16 fit-cover', style: 'object-position: 50% 60%;' %>
</div>
