<div class="banner">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col col-sm-10 col-md-6 col-md-4">
      </div>
    </div>
  </div>
  <main>
    <%= render 'search_bar' %>
    <div class="skull">
      <h1 class="skull-title">Experience the End</h1>
      <p class="skull-desc">Book to push your mortality to the edge.</p>
      <div class="eyes">
        <div class="eye"></div>
        <div class="eye"></div>
      </div>
      <div class="nose"></div>
      <div class="teeth"></div>
    </div>
    <div class="crossbones">
      <div class="bone thugs n harmony"></div>
      <div class="bone see you at the crossroads"></div>
    </div>
  </main>
</div>
