<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col col-sm-8 col-md-6">
      <%= render 'search_bar' %>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col">
      <h2>Make plans this weekend</h2>
      <div class="cards">
        <%= render @experiences %>
      </div>
    </div>
  </div>
</div>
