<!-- Replace this with real categories when tagged -->
<div class="d-flex align-items-center fw-lighter my-3">
  <small class="me-2">Tokyo, Japan</small>
  <small class="me-2"> > </small>
  <small class="me-2">Sports</small>
</div>
