<div class="container">
  <div class="host-name-container">
    <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large" />
    <div class="host-name">
        <h3>Meet you host, Yusuke</h3>
    </div>
  </div>
</div>
