<div class="container">
  <div class="row">
    <h2>Laying on a train track</h2>
    <%= render photo_gallery %>
  </div>
  <div class="row">
    <div class="col col-md-8">
      <h3>Experience hosted by Takashi</h3>
      <%# More stuff %>
      <%= render 'meet_your_host' %>
    </div>
    <div class="col col-md-4">
      <%= render 'bookings/form' %>
    </div>
  </div>
</div>
