.banner {
  background-size: cover;
  background-position: center;
  padding: 24px 0;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), asset-url('banner.jpg');
  text-align: center;
  .banner-height {
    height: 400px;
  }
}

.banner h1 {
  margin: 0;
  color: $white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 48px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: $white;
  opacity: 0.8;
  text-shadow: 2px 3px 5px rgba(0,0,0,0.34);
}
