:root {
  --bone-color: rgb(255, 245, 245);
  --hole-color: rgb(18, 19, 21);
  --hole-shade: rgb(51, 52, 59);
}

.banner {
  background-color: rgb(29, 30, 34);
  position: relative;
  main {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100vw;
    height: calc(100vh - 80px);
    overflow: hidden;

    // Noise/static
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: asset-url("img-noise.png");
      z-index: 99;
      opacity: 0.25;
      animation: static 0.25s steps(4) infinite;
    }
  }


  // Skull
  .skull {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: calc(var(--skull-size) / 6);
    padding-top: calc(var(--skull-size) / 6);
    width: var(--skull-size);
    height: calc(var(--skull-size) / 1.15);
    background-color: var(--bone-color);
    border-radius: 100%;
    box-shadow:
      inset rgba(black, 0.1) calc(var(--skull-size) / -18) 0 0,
      var(--page-color) 0 0 0 calc(var(--skull-size) / 24);
    z-index: 2;
  }

  .skull-title {
    position: absolute;
    top: -120px;
    color: $white;
    font-family: $banner-font;
  }
  .skull-desc {
    position: absolute;
    top: -72px;
    color: $white;
    opacity: .7;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }

  // Eyes
  .eyes { display: flex; }

  .eye {
    --size: calc(var(--skull-size) / 4);

    display: flex;
    align-items: center;
    position: relative;
    margin: 0 calc(var(--size) / 4);
    width:  var(--size);
    height: var(--size);
    background-color: var(--hole-color);
    border-radius: 100%;
    box-shadow: inset var(--hole-shade) calc(var(--size) / 4) calc(var(--size) / 12) 0;
  }


  // Nose
  .nose {
    --size: calc(var(--skull-size) / 24);

    &:before,
    &:after {
      content: '';
      display: inline-block;
      width:  var(--size);
      height: var(--size);
      background-color: var(--hole-color);
      border-radius: 100%;
    }

    &:before {
      margin-right: calc(var(--size) / 2);
    }
  }

  // Teeth
  .teeth {
    --size: calc(var(--skull-size) / 8);

    position: absolute;
    top: calc(100% - var(--size) / 3);
    right: 0;
    left:  0;
    margin: auto;
    width:  var(--size);
    height: var(--size);
    background-color: var(--bone-color);
    border-radius: 0 0 100vw 100vw;

    &:before,
    &:after {
      content: '';
      display: inline-block;
      position: absolute;
      top: 0;
      width:  100%;
      height: 100%;
      background-color: inherit;
      border-radius: inherit;
    }

    &:before { right: 100%; }

    &:after  {
      left: 100%;
      box-shadow: inset rgba(black, 0.1) calc(var(--skull-size) / -30) 0 0;
    }
  }

  // Bone
  .bone {
    --size: var(--skull-size);
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    margin: auto;
    width: calc(var(--size) * 1.75);
    height: calc(var(--size) / 6);
    background-color: var(--bone-color);
    box-shadow: inset rgba(black, 0.1) 0 calc(var(--size) / 24) 0;

    &:before,
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: -50%;
      width:  calc(var(--size) / 6);
      height: calc(var(--size) / 6);
      background-color: inherit;
      border-radius: 100%;
    }

    &:before { right: calc(100% - var(--size) / 10); }
    &:after  { left:  calc(100% - var(--size) / 10); }

    &:first-child {
      transform: rotate(35deg);

      &:before,
      &:after {
        box-shadow:
          inset rgba(black, 0.1) 0 calc(var(--size) / 36) 0,
          var(--bone-color) 0 calc(var(--size) / 6) 0;
      }
    }

    &:last-child {
      transform: rotate(-35deg) scaleY(-1);

      &:before,
      &:after {
        box-shadow:
          inset rgba(black, 0.1) 0 calc(var(--size) / 36) 0,
          var(--bone-color) 0 calc(var(--size) / 6) 0;
      }
    }
    // Static animation
    @keyframes static {
      to { transform: rotate(360deg) translate(5%, 5%); }
    }
  }
}

@media (min-width: 100px) and (max-width: 575px) {
  :root {
    --skull-size: 55vw;
  }
  .banner {
    .skull-desc {
      font-size: 0.6em;
      top: -80px;
    }
  }
}

@media (min-width: 576px) {
  :root {
    --skull-size: 45vw;
  }
  .banner {
    .skull-desc {
      font-size: 0.8em;
      top: -78px;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  :root {
    --skull-size: 30vw;
  }
  .banner {
    .skull-title {
      font-size: 2em;
    }
    .skull-desc {
      font-size: 0.7em;
    }
  }
}

@media (min-width: 992px) {
  .banner {
    .skull-desc {
      font-size: 0.9em;
    }
  }
}
