.card-white {
  background-color: white;
}

.card-experience {
  overflow: hidden;
  height: $spacer * 12;
  background: white;
  display: flex;
  align-items: center;
  position: relative;
  border-radius: $default-radius;
  img {
    height: 100%;
    width: 140px;
    object-fit: cover;
    border-radius: $default-radius;
  }
  h5 {
    font-weight: bold;
    margin: 0;
  }
  p {
    font-size: 0.75rem;
    opacity: .7;
    margin-bottom: 0;
  }
  .card-experience-infos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: $spacer;
  }
  .card-experience-link {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
  }
}

.new-booking-card {
  border: 1px solid rgb(221, 221, 221);
  border-radius: $default-radius;
  padding: 24px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
  background-color: white;
}

.booking-card {
  .booking-card--img-text .booking-card--date {
    padding: 0.25rem 1.5rem;
    border: 2px solid;
    color: white;
    margin: 1rem auto;
    border-radius: $default-radius;
    width: fit-content;
    text-align: center;
  }
}

.address-card {
  border: 1px solid rgb(221, 221, 221);
  border-radius: 34px;
  min-width: 350px;
  padding: 24px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
  background-color: white;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}
