.card-experience {
  overflow: hidden;
  height: $spacer * 12;
  background: white;
  display: flex;
  align-items: center;
  position: relative;
  img {
    height: 100%;
    width: 140px;
    object-fit: cover;
    border-radius: 12px;
  }
  h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }
  p {
    font-size: 12px;
    opacity: .7;
    margin-bottom: 0;
  }
  .card-experience-infos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: $spacer / 2;
  }
  .card-experience-link {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
  }
}

.booking-card {
  border: 1px solid rgb(221, 221, 221);
  border-radius: 12px;
  padding: 24px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
  background-color: white;
}

.datepicker {
  border: 1px solid rgb(221, 221, 221);
  border-radius: 12px;
  padding: 12px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
  background-color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}