.map-marker {
  display: flex;
  align-items: center;
  font-size: 1.3em;
  color: $primary;
  background-color: white;
  border: solid 2px $primary;
  height: 2em;
  padding: 0.3em 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1em;
  min-width: 5em;
  .price-tag {
    margin-left: 0.5em;
  }
}