.host-name-container {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    padding: 8px 16px;
    }

    .host-name-container .host-name {
    padding: 0 24px;
    }

    .host-container {
    background: white;
    }
