<% if notice %>
  <div class="alert alert-light alert-dismissible d-flex align-items-center fade show" role="alert">
    <i class="far fa-check-circle text-primary me-2"></i>
    <div>
      <%= notice %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </div>
<% end %>
<% if alert %>
  <div class="alert alert-light alert-dismissible d-flex align-items-center fade show" role="alert">
    <i class="fas fa-exclamation-triangle text-danger me-2"></i>
    <div>
      <%= alert %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </div>
<% end %>
