<%= form_tag experiences_path, method: :get, class: "search-form-control" do %>
  <div class="form-group">
    <%= text_field :query, nil,
                   value: params[:query],
                   class: "form-control string required rounded-pill",
                   placeholder: "" %>
    <button name="button" type="submit" class="btn btn-primary rounded-circle">
      <i class="fas fa-search"></i>
    </button>
  </div>
<% end %>
