<%= simple_form_for :search, url: root_path, method: :get, html: { class: "search-form-control" } do |f| %>
  <div class="form-group">
    <input class="form-control string required rounded-pill" type="text" name="search[query]" id="search_query" />
    <button name="button" type="submit" class="btn btn-primary rounded-circle">
      <i class="fas fa-search"></i>
    </button>
  </div>
<% end %>
